@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.loading {
  margin-top: 20vh;
  border: 50px solid #f3f3f3;
  border-top: 50px solid #3498db;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  animation: spin 2s linear infinite;
  max-width: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .loading {
    width: 350px;
    height: 350px;
  }
}
